/*
!/.*

/.CFUserTextEncoding
/.DS_Store
/.Trash
/.cache
/.colima
!/.colima/_templates/default.yaml
#/.config
/.config/k9s/
/.config/htop/
/.config/iterm2/
/.cups
/.docker
#/.doom.d
/.emacs.d
/.gitconfig
#/.gitignore
/.gnupg*
/.grass7
#/.install.md
/.lesshst
/.lima
/.local
/.nix-channels
/.nix-defexpr
/.nix-profile
/.password-store
/.python_history
#/.rtorrent.rc
/.ruff_cache
/.ssh
!/.ssh/config
/.terraform.d
/.zcompdump
/.zprofile
/.zsh_history
/.zsh_sessions
#/.zshenv
#/.zshplugins
#/.zshrc
